{
  "env": {
    "node": true,
  },
  "globals": {},
  "settings": {},
  "rules": {
    "sort-imports": "error",
    "no-console": "error",
    "no-default-export": "error",
    "no-cycle": "error",
    "no-nested-ternary": "error",
  },
}
